*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $font-main;
  color: $color-light;
  background-color: $color-dark;

  a {
    color: inherit;
    text-decoration: none;
  }

  .button {
    width: 313px;
    height: 133px;
    background-color: $color-red;
    box-shadow: 0 0 118px 24px rgba(0, 0, 0, 0.11);
    border: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: $font-bold;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: $color-light;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
}

.footer {
  margin-top: auto;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.song {
  .songTitle {
    letter-spacing: 2.25px;
    font-size: 30px;
    font-weight: $font-semibold;
    margin-top: 40px;

    .author {
      text-transform: uppercase;
    }
  }

  .description-wrapper {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: auto;

    h4 {
      letter-spacing: 1.5px;
      color: $color-grey;
    }
  }
}

