.category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 100px;
  letter-spacing: 2.25px;
  font-weight: $font-semibold;

  h3 {
    text-transform: uppercase;
  }

  .categories-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
      margin: 5px;
      cursor: pointer;
    }

    .active {
      color: $color-red;
    }
  }
}

@media (max-width: 700px) {
  .category-container .categories-list {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .category-container {
    font-size: 20px;
  }
}
