.search-wrapper {
  .wrapper {
    align-items: center;
  }

  p {
    color: $color-grey;
    font-weight: $font-normal;
    letter-spacing: 6px;
    font-size: 30px;
    margin-right: 25px;
  }

  #myInput {
    width: 355px;
    height: 59px;
    border-radius: 10px;
    margin-right: 25px;
  }

  #myCategories {
    width: 150px;
    height: 59px;
    border-radius: 10px;
    margin-right: 25px;
  }

  .search-btn {
    height: 59px;
    width: 139px;
    font-size: 20px;
    letter-spacing: 4px;
  }

  .txt-number-of-songs p {
    margin: 90px 0;
  }
}

@media (max-width: 500px) {
  .search-wrapper {
    .wrapper {
      flex-direction: column;
    }

    p {
      font-size: 24px;
      margin-right: 0;
    }

    #myInput {
      width: 255px;
      height: 49px;
      margin-right: 0;
    }

    #myCategories {
      width: 100px;
      height: 49px;
      margin-right: 0;
    }

    .search-btn {
      margin-top: 20px;
      height: 49px;
      width: 109px;
      font-size: 15px;
    }
  }
}

