.subscribe {
  background-image: url('../../images/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  position: relative;
  height: 1023px;
  padding: 1px;

  h3 {
    position: absolute;
    font-size: 100px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: $font-semibold;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    .now {
      font-weight: $font-black;
    }
  }

  .subscribe-inside {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;

    .picture-container {
      .picture {
        position: relative;
        max-width: 465px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .author {
          position: absolute;
          letter-spacing: 20px;
          font-size: 100px;
          font-weight: $font-black;
          top: 65%;
          left: -30%;
          transform: translate(-50%, -50%);

          h4 {
            margin: 0;
          }

          h4:nth-of-type(1) {
            position: absolute;
            right: -140px;
            top: -100px;
          }

          h4:nth-of-type(2) {
            position: absolute;
            left: -90px;
          }

          .son {
            color: $color-red;
          }
        }
      }

      .album-descryption {
        font-size: 40px;
        text-align: right;
        letter-spacing: 8px;
        position: absolute;
        right: 15%;

        h4 {
          font-weight: $font-bold;
          color: $color-grey;
          margin: 10px;
          text-transform: uppercase;
        }

        p {
          font-weight: $font-semibold;
          color: $color-light;
          margin: 10px;
        }
      }
    }
  }
}

@media (max-width: 1490px) {
  .subscribe .subscribe-inside {
    flex-direction: column-reverse;
    margin-top: 140px;

    .btn-container {
      margin-top: 220px;

      .button {
        width: 213px;
        height: 100px;
        font-size: 25px;
      }
    }

    .picture-container {
      margin-left: 20%;

      .picture {
        max-width: 365px;

        .author {
          font-size: 80px;

          h4:nth-of-type(1) {
            right: -120px;
          }
        }
      }

      .album-descryption {
        left: 15%;
        text-align: left;
        font-size: 30px;
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .subscribe {
    h3 {
      font-size: 70px;
      top: -7%;
    }
  }
}

@media (max-width: 960px) {
  .subscribe {
    h3 {
      font-size: 50px;
      top: -5%;
    }

    .subscribe-inside .picture-container {
      .picture {
        max-width: 300px;

        .author {
          font-size: 70px;

          h4:nth-of-type(1) {
            right: -100px;
          }
        }
      }

      .album-descryption {
        left: 15%;
        text-align: left;
        font-size: 25px;
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 730px) {
  .subscribe {
    h3 {
      font-size: 35px;
      top: -3.5%;
    }

    .subscribe-inside {
      .btn-container {
        margin-top: 300px;

        .button {
          width: 180px;
          height: 80px;
          font-size: 20px;
        }
      }

      .picture-container {
        .picture {
          max-width: 250px;

          .author {
            font-size: 50px;
            letter-spacing: 10px;
            left: -10%;

            h4:nth-of-type(1) {
              right: -30px;
              top: -70px;
            }
          }
        }

        .album-descryption {
          left: 20%;
          text-align: left;
          font-size: 25px;
          margin-top: 50px;
        }
      }
    }
  }
}
