$color-dark: #131313;
$color-light: #fff;
$color-grey: #bfbfbf;
$color-buttons: #cf383e;

$font-main: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
